<html>
  <head lang="EN">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/public/index.css" />
    <title>
      Writing to JSON File
    </title>
  </head>
  <body>
    <div id="page-banner">
      <p>Form Submission for Blog Entry</p>
    </div>

    <form id="blog_form" action="/SubmittedData" method="POST" name="post">
      <input class="data_input" type="text" name="Title" placeholder="Title" />
      <br />
      <input
        class="data_input"
        type="text"
        name="Description"
        placeholder="Description"
      />
      <br />
      <input
        class="data_input"
        type="text"
        name="Author"
        placeholder="Author"
      />
      <br />
      <textarea
        id="body_input"
        type="text"
        name="Body"
        placeholder="Body"
      ></textarea>
      <br />
      <br />
      <button class="button" style="vertical-align:middle">
        <span>Submit </span>
      </button>
    </form>
  </body>
</html>
